sibrosdtafactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "sibrosdtafactory"
		},
		"AzureDataLakeStorage4_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage4'"
		},
		"AzureDatabricks1_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks1'"
		},
		"AzureDataLakeStorage4_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sibrosdemorawdata.dfs.core.windows.net/"
		},
		"AzureDatabricks1_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0909-111619-fllve25s"
		},
		"DBC_http_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{linkedService().baseUrl_DBC}"
		},
		"HttpServer1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{linkedService().baseurl}"
		},
		"HttpServer2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{linkedService().baseURL}"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Sibros_Data_Pipeline_Child')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Api Calling - DataLake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Sibros_Api_Source",
								"type": "DatasetReference",
								"parameters": {
									"demodatasetparam": {
										"value": "@pipeline().parameters.paramDownloadURL",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Data_lake_Sink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DBC Api - DataLake",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Api Calling - DataLake",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Sibros_DBC_Api",
								"type": "DatasetReference",
								"parameters": {
									"url_parameter": {
										"value": "@pipeline().parameters.DBC_Url",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Data_lake_Sink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Data Transformation",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "DBC Api - DataLake",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/joyson.j@bluebinaries.com/Data_transformation"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Model Development-Training",
						"type": "DatabricksNotebook",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Data Transformation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/joyson.j@bluebinaries.com/Model Development-Training"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Model Prediction",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Data Transformation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/joyson.j@bluebinaries.com/Model Prediction"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"paramDownloadURL": {
						"type": "string"
					},
					"DBC_Url": {
						"type": "string"
					}
				},
				"variables": {
					"test1": {
						"type": "Array"
					},
					"test2": {
						"type": "String"
					},
					"validate": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2024-09-17T07:21:06Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Sibros_Api_Source')]",
				"[concat(variables('factoryId'), '/datasets/Data_lake_Sink')]",
				"[concat(variables('factoryId'), '/datasets/Sibros_DBC_Api')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sibros_Data_Pipeline_Parent')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Mf4_Api_1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {
								"X-Master-Api-Key": "ecb2467c978bfd10",
								"X-Master-Api-Secret": "d06e6e11addce23aa4779f2002bde7"
							},
							"url": {
								"value": "https://api.prod-p-ap.sibros.tech/company/468df435-c8da-4013-bc62-14f5e69b6f70/core/v2/device-logs?isSibrosGenerated=true&startTime=@{formatDateTime(addDays(utcnow(),-1))}&endTime=@{formatDateTime(utcnow())}&limit=20&offset=0&logRuleNamePattern=",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Mf4_Api_2",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Mf4_Api_1",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "DBC_Api",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"X-Master-Api-Key": "ecb2467c978bfd10",
								"X-Master-Api-Secret": "d06e6e11addce23aa4779f2002bde7"
							},
							"url": "https://api.prod-p-ap.sibros.tech/core/v2/converted-files",
							"body": {
								"value": "{\n    \"deviceLogIDs\": [ \"@{activity('Mf4_Api_1').output.results[0].deviceLogID}\" ],\n    \"sourceFileFormat\": \"SIBROS\",\n    \"targetFileFormat\": \"MDF\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Mf4_URL",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Mf4_Api_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "test",
							"value": {
								"value": "@activity('Mf4_Api_2').output.file.downloadURL",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Execute Child Pipeline",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Mf4_URL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Sibros_Data_Pipeline_Child",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"paramDownloadURL": {
									"value": "@variables('test')",
									"type": "Expression"
								},
								"DBC_Url": {
									"value": "@activity('DBC_Api').output.decoderFiles[0].downloadURL",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "DBC_Api",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {
								"X-Master-Api-Key": "ecb2467c978bfd10",
								"X-Master-Api-Secret": "d06e6e11addce23aa4779f2002bde7"
							},
							"url": "https://api.prod-p-ap.sibros.tech/company/468df435-c8da-4013-bc62-14f5e69b6f70/core/v2/decodermappings/b8850fed-53d2-4973-a661-c414debb24a1"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"test": {
						"type": "String"
					},
					"validate": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2024-09-16T07:35:35Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Sibros_Data_Pipeline_Child')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Data_lake_Sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage4",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "rawdata",
						"fileSystem": "sibrosdatalake"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage4')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sibros_Api_Source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttpServer2",
					"type": "LinkedServiceReference",
					"parameters": {
						"baseURL": {
							"value": "@dataset().demodatasetparam",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"demodatasetparam": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HttpServer2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sibros_DBC_Api')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DBC_http",
					"type": "LinkedServiceReference",
					"parameters": {
						"baseUrl_DBC": {
							"value": "@dataset().url_parameter",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"url_parameter": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DBC_http')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage4')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage4_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage4_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-482306831162331.11.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks1_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricks1_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DBC_http')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"baseUrl_DBC": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('DBC_http_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"baseurl": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttpServer1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpServer2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"baseURL": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttpServer2_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		}
	]
}